* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* 10px */
}

body {
  background-color: var(--black-secondary);
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

button {
  transition: 0.2s ease-in-out;
}
