:root {
  --black-primary: #09090a;
  --black-secondary: #121214;
  --black-tertiary: #202024;
  --orange: #ff7a29;
  --yellow: #ffcd1e;
  --gray-primary: #8d8d99;
  --gray-secondary: #c4c4cc;
  --gray-tertiary: #e1e1e6;
  --gray-quarternary: #29292e;
}
