form {
  padding: 3.2rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.6rem;

  > span {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    color: var(--gray-secondary);
  }

  .formControlWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    label {
      font-size: 2rem;
      font-weight: bold;
    }

    select {
      background: #fff;
      border: none;
      border-radius: 1.6rem;
      width: 10rem;
      height: 3.2rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      color: #000;
    }
  }
}
